.homepage {
    background-image: url('../assets/homeimage.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .text-black {
    color: black !important;
  }
  
  h1.display-3 {
    font-size: 4rem; /* Larger font for the title */
    font-weight: 900; /* Extra bold for emphasis */
  }
  
  p.lead, p {
    font-size: 1.25rem; /* Bigger font for paragraphs */
    font-weight: 600; /* Make text bold */
  }
  